{% extends 'base.html' %}

{% load static %}

{% block title %}重置密码{% endblock %}

{% block row %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
      <h2 class="text-center my-4">
        <a href="#"><strong>重置密码</strong></a>
      </h2>
      <div class="card">
        <div class="card-body">
          <p>请输入您的邮箱地址，我们将会发送一个的链接到您的邮箱来重置您的密码。</p>
          <form action="{% url 'password_reset' %}" method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <p> </p>
{% endblock row %}