{% extends 'base.html' %}

{% load static %}

{% block title %}邮件已发送{% endblock %}

{% block row %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
      <h2 class="text-center my-4">
        <a href="#"><strong>密码重置链接已经发送</strong></a>
      </h2>
      <div class="card">
        <div class="card-body">
          <div class="alert alert-success" role="alert">
          <p>如果您输入的邮件地址所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。</p>
          <p>
              如果你没有收到邮件, 请确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock row%}