{% extends 'base.html' %}

{% load blog_tags %}

{% block title %}{{ post.title }}-苍云横渡{% endblock %}

{% block row %}
<main class="col-md-8">
    <article class="post post-{{ post.pk }}">
    
        <header class="entry-header">
            <h1 class="entry-title"><strong>{{ post.title }}</strong></h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="{% url 'blog:category' post.category.pk %}">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.created_time }}">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ post.author }}</a></span>
                    <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span id = "sourceId::{{ post.pk }}" class = "cy_cmt_count" ></span>
                            <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cytz8slDD"></script>
                            评论</a></span>
                    <span class="views-count"><a href="{{ post.get_absolute_url }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ post.views }} 阅读</a></span>
                </div>
        </header>
        
        <div class="entry-content clearfix">
            <div class="post-body">
            <style type="text/css">
                h1 { font-weight:600; }
                h2 { font-weight:600; }
                h3 { font-weight:600; }
                h4 { font-weight:600; }
            </style>
            {{ post.body|safe }}
            </div>
	            <div class="widget-tag-cloud" style="font-weight: 400;">
                <ul>
                    <span class="glyphicon glyphicon-tag" style="padding-right:10px" aria-hidden="true"></span>
                    {% for tag in post.tags.all %}
                        <li><a href="{% url 'blog:tag' tag.pk %}"> {{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </article>
    <section class="comment-area widget" id="comment-area">
        <br>  
        <script type="text/javascript" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js">
        </script>
        <div id="SOHUCS" sid="{{ post.pk }}" ></div> 
        <script type="text/javascript"> 
            (function(){ 
                var appid = 'cytz8slDD'; 
                var conf = 'prod_a986e8dd29b98b5acab06120ad712a25'; 
                var width = window.innerWidth || document.documentElement.clientWidth; 
                if (width < 960) { 
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
        </script>
        <!-- <h3 style="font-size: 1.5em; font-weight: 400;">发表评论</h3>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.name.id_for_label }}">名字：</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.email.id_for_label }}">邮箱：</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="col-md-12">
                    <label for="{{ form.text.id_for_label }}">评论：</label>
                    {{ form.text }}
                    {{ form.text.errors }}
                    <button type="submit" class="btn btn-default">发表</button>
                </div>
            </div> 
        </form>
        <div class="comment-list-panel">
            <h3 style="font-size: 1.5em; font-weight: 400;">评论列表，共 <span>{{ comment_list | length }}</span> 条评论</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date"
                              datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>
                        <div class="text">
                            {{ comment.text|safe|linebreaks }}
                        </div>
                    </li>
                {% empty %}
                    暂无评论
                {% endfor %}
            </ul>
        </div> -->
    </section>
</main>

<aside class="col-md-4">

    {% include 'blog/plus.html' %}

    <div id="float" class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        <hr style="margin-top:7px; margin-bottom:7px;">
        {{ post.toc|safe }}
    </div>

</aside>

{% endblock row %}
