{% extends 'base.html' %}

{% load blog_tags %}

{% block head %}
<div class="jumbotron text-center">
    <h1>苍云横渡</h1>
    <p> </p>
    <h3>野雁横云不知愁，昨年阿娇梦里求</h3>
    <h3>饮不尽者杯中酒，割不完是名人头</h3>
</div>
{% endblock head %}

{% block row %}
<main class="col-md-8">
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
        
            <!-- 【大标题】 -->
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="{% url 'blog:category' post.category.pk %}">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.created_time }}">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ post.author }}</a></span>
                    <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span id = "sourceId::{{ post.pk }}" class = "cy_cmt_count" ></span>
                            <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cytz8slDD"></script>
                            评论</a></span>
                    <span class="views-count"><a href="{{ post.get_absolute_url }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ post.views }} 阅读</a></span>
                </div>
            </header>
            
            <!-- 【摘要】 -->
            <div class="entry-content clearfix" style="color: #777;">
                <p>{{ post.excerpt }}...</p>
            </div>
            
            <!-- 【标签】 -->
            <div class="widget widget-tag-cloud" style="box-shadow:0 0 0 0; padding: 10px 0px;">
                <ul>
                    <span class="glyphicon glyphicon-tag" style="padding-right:10px" aria-hidden="true"></span> 
                    {% for tag in post.tags.all %}
                    <li>
                        <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}


    {% comment %}
        完善的分页导航
    {% endcomment %}
    {% if is_paginated %}
        <div class="pagination">
            <ul>
                {% if first %}
                    <li><a href="?page=1">1</a></li>
                {% endif %}
                {% if left %}
                    {% if left_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                    {% for i in left %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="current"><a class="current-page" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if right %}
                    {% for i in right %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if right_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                {% endif %}
                {% if last %}
                    <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</main>

<aside class="col-md-4">

{% include 'blog/plus.html' %}

</aside>
        
{% endblock row %}